html {
	transform: scale(0.95); /* Scale down content to 50% */
	transform-origin: top left; /* Keep content aligned from the top-left corner */
	width: 100%; /* Ensure full width for scaling */
  }
  
  body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	color: #ffffff;
}
body, html {
	height: 100%;
	margin: 0;
	display: block;
	justify-content: center;
	align-items: center;
	background-color: #2a2a2a;
   zoom:0.99;
}
#question-container {
	padding: 20px;
	position: relative;
}
.navigation {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.navigation button {
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	background-color: #4d4d4d;
	color: white;
	border: none;
	border-radius: 5px;
}
.navigation button:hover {
	background-color: #808080;
	color: white;
	border: none;
	border-radius: 5px;
}
.navigation button:disabled {
	background-color: #c1c1c1;
	cursor: not-allowed;
}
ul{
	margin-left:30px;
} 

/* iPhone 15 hotfix */
@media only screen and (max-width: 430px) and (max-height: 932px) {
	/* Use transform scale for resizing content */
	html {
	  transform: scale(0.5); /* Scale down content to 50% */
	  transform-origin: top left; /* Keep content aligned from the top-left corner */
	  width: 100%; /* Ensure full width for scaling */
	}
  
	body {
	  overflow: hidden; /* Prevent scrollbars from appearing */
	}

	#notes-container{
		position:unset !important; 
		top: unset !important; 
		left:unset !important; 
		width: unset !important; 
		margin-top: unset !important; 
		padding-left: unset !important;
	}
  }

  /* iPad Air hotfix */
  @media only screen and (max-width: 1640px) and (max-height: 2360px) {
	html {
		transform: scale(1.135); /* Scale down content to 50% */
		transform-origin: top left; /* Keep content aligned from the top-left corner */
		width: 100%; /* Ensure full width for scaling */
	}
	#notes-container{
		position:unset !important; 
		top: unset !important; 
		left:unset !important; 
		width: unset !important; 
		margin-top: unset !important; 
		padding-left: unset !important;
	}

	#navigation{
		transform: scale(0.86);
		margin-top: -120px !important;
	}
  }
